#header {
	background-color: #cdf;
	margin: 1px;
	z-index: 1;
}
.album-track {
	padding:2px;
	padding-left:2em;
	background-color:#cdf;
	background-image: -webkit-linear-gradient(top, #cdf, #def);
	background-image: -moz-linear-gradient(top, #cdf, #def);
	position: relative;
}
.album-label, .single-track {
	padding:2px;
	background-color:#cdf;
	line-height:150%;
	padding-left: 8px;
	background-image: -webkit-linear-gradient(top, #abe, #cdf);
	background-image: -moz-linear-gradient(top, #abe, #cdf);
}
.album-label:hover, .album-track:hover, .single-track:hover {
	background-image: none;
	background-color: #8080ff;
}
.album-cover {
	float:left;
}
.album-tracklist {
	padding-left:160px
}
.album, .single-track, .filter {
	margin-right:2px;
	margin-left:2px;
}
.album, .single-track {
	position: relative;
}
.album {
	margin:2px;
	background-color: #cdf;
}
.currently-playing {
	font-weight: bold;
}
#top {
	padding:2px;
	padding-left: 8px;
	line-height:150%;
	margin-bottom: 1px;
}
#nav {
	line-height:150%;
	background-color: white;
}
#nav a {
	padding: 4px;
	margin: 0px 1px 1px;
	text-shadow:1px 1px 5px #FFFFFF;
	color:black;
	text-decoration:none;
	display: inline-block;
}
#nav a.active {
	background-image: -webkit-linear-gradient(top, #abe, #cdf);
	background-image: -moz-linear-gradient(top, #abe, #cdf);
}
.filter input {
	border:0;
	padding:2px;
}
body {
	margin: 0;
	overflow-y: scroll;
}
.progress-bar {
	height: 100%;
	position: absolute;
	background-color: green;
	opacity: 0.3;
	top: 0px;
	left: 0px;
}
.length-indicator {
	margin-right: 0.5em;
	display: inline;
}
.play-button, .remove-button, .info-button {
	width: 1.5em;
	height: 1.5em;
	background-position-y: center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: 0.5em;
}
a.info-button, a.play-button, a.remove-button, a.append-button, a.add-button, a.resume-button, a.pause-button {
	display: inline-block;
	text-decoration: none;
}
.info-button {
	background-image: url(info.svg);
}
.play-button {
	background-image: url(play.svg);
}
.remove-button {
	background-image: url(remove.svg);
}
.add-button, .append-button, .pause-button, .resume-button {
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
}
.right-align {
	float: right;
}
.add-button {
	background-image: url(add.svg);
}
.append-button {
	background-image: url(append.svg);
}
.pause-button {
	background-image: url(pause.svg);
}
.resume-button {
	background-image: url(play.svg);
}
#settings {
	margin: 0.5em;
}
h1 {
	font-size: 1em;
}
#auth-link-popup {
	top: 5%;
	left: 5%;
}
#auth-link-popup, #track-info-popup {
	position: fixed;
	border: 1px solid black;
	background-color: white;
	padding: 1em;
	z-index: 2;
}
.clear-right {
	clear: right;
}
.clear-left {
	clear: left;
}
