#header {
	background-color: white;
	z-index: 1;
}
#middle {
	/*overflow-y: scroll;
	overflow-x: hidden;*/
}
#search-result {
	/*overflow: hidden;*/
}
.album-track {
	padding:2px;
	padding-left:2em;
	background-color:#ddf;
	background-image: -webkit-linear-gradient(top, #ddf, #eef);
	background-image: -moz-linear-gradient(top, #ddf, #eef);
	position: relative;
}
.album-label, .single-track {
	padding:2px;
	background-color:#ddf;
	line-height:150%;
	padding-left: 8px;
	background-image: -webkit-linear-gradient(top, #bbe, #ddf);
	background-image: -moz-linear-gradient(top, #bbe, #ddf);
}
.album-label:hover, .album-track:hover, .single-track:hover {
	background-image: none;
	background-color: #8080ff;
}
.album-cover {
	float:left;
}
.album-tracklist {
	padding-left:160px
}
.album, .single-track, .filter {
	margin-right:4px;
}
.album, .single-track {
	clear: left;
	position: relative;
}
.album {
	margin:2px;
	background-color: #ddf;
}
.currently-playing {
	font-weight: bold;
}
.filter {
	padding:2px;
	padding-left: 8px;
	line-height:150%;
	background-image: -webkit-linear-gradient(top, #bbe, #ddf);
	background-image: -moz-linear-gradient(top, #bbe, #ddf);
}
#nav {
	padding:0px 8px 0px 2px;
	line-height:150%;
}
#nav a {
	padding-top: 2px;
	padding-bottom: 2px;
	text-shadow:1px 1px 5px #FFFFFF;
	color:black;
	text-decoration:none;
	background-color: #ddf;
}
#nav a.active {
	background-image: -webkit-linear-gradient(top, #bbe, #ddf);
	background-image: -moz-linear-gradient(top, #bbe, #ddf);
}
.filter input {
	border:0;
	padding:2px;
}
#controls {
	display:inline-block;
	padding:2px;
	vertical-align:middle;
	padding-right:6px;
}
#controls img {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	
}
body {
	margin: 0;
	overflow-y: scroll;
}
.progress-bar {
	height: 100%;
	position: absolute;
	background-color: green;
	opacity: 0.3;
	top: 0px;
	left: 0px;
}
.length-indicator {
	position: absolute;
	right: 3em;
	top: 0px;
}
.play-button, .remove-button {
	position: absolute;
	top: 0;
	width: 1em;
	background-position-y: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.play-button {
	background-image: url(play.svg);
	right: 0.5em;
}
.remove-button {
	background-image: url(remove.svg);
	right: 1.75em;
}
#settings {
	margin: 0.5em;
}
h1 {
	font-size: 1em;
}
